In [8]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [9]:
data=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
test_ids=test["PassengerId"]
def clean(data):
    data=data.drop(["Ticket","Cabin","Name","PassengerId"],axis=1)
    cols=["SibSp","Parch","Fare","Age"]
    for col in cols:
        data[col].fillna(data[col].median(),inplace=True)
        
    data.Embarked.fillna("U",inplace=True)
    return data
data=clean(data)
test=clean(test)

In [12]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [13]:
data.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
5         0       3    male  28.0      0      0   8.4583        Q
6         0       1    male  54.0      0      0  51.8625        S
7         0       3    male   2.0      3      1  21.0750        S
8         1       3  female  27.0      0      2  11.1333        S
9         1       2  female  14.0      1      0  30.0708        C

In [16]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
cols=["Sex","Embarked"]
for col in cols:

    data[col]=le.fit_transform(data[col])
    test[col]=le.transform(test[col])
    print(le.classes_)
data.head(5)

[0 1]
[0 1 2 3]

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y=data['Survived']
X=data.drop('Survived',axis=1)

X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
model=LogisticRegression(random_state=0,max_iter=1000).fit(X_train,y_train)

In [19]:
predictions=model.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val,predictions)

0.8100558659217877

In [20]:
submission_pred=model.predict(test)

In [21]:
df=pd.DataFrame({"PassengerId":test_ids.values,
                "Survived":submission_pred,})

In [22]:
df.to_csv("submission.csv",index=False)